.fotoetexto{
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 25px;
    color: green;
}
body{
    background:gold;
}
.menudenavegacao ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    gap: 50px;
    padding: 0;
    margin: 0;
    font-size: 25px;
    margin-top: 10px;
    color: green;
}
.menudenavegacao a{
    color: green;
    text-decoration: none;
}
.texto{
     display: flex;
    align-items: center;
    background-color: green;
    border: 10px solid blue;
    justify-content: center;
    height: 300px;
    gap: 15px;
    margin: 35px;
}
.texto h1, .texto p{
    margin: 0px;
}