
.fotoetexto{
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 25px;
    color: green;
}
body{
    background: linear-gradient(to top, green, gold);
}
#escalacao{
    margin-top: 150px;
}
#escalacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.escalacao .jogadores{
    display: flex;
    align-items: center;
    background-color: green;
    border: 10px solid blue;
    justify-content: center;
    height: 500px;
    gap: 15px;
    margin: 35px;
}
.textogm{
    margin-left: 15px;
}
.escalacao p{
    font-size: 20px;
    font-weight: bold;
}
.posicao{
    position: absolute;
    margin-top: 0;
    margin-bottom: 450px;
    font-size: 30px !important;
    background-color: gold;
    border-radius: 15px;
    padding: 2px;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background:linear-gradient(to bottom, aliceblue 50%, blue);
    border: 10px solid blue;
    justify-content: center;
    height: 50px;
    width: 550px;
    gap: 15px;
    margin: 35px;
}
#proxjogos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jogos {
    display: flex;      
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
#formulario{
    display: flex;
    justify-content: center;
    max-width: 950px;
    margin: 40px auto;
    padding: 15px;
}
button{
    color: blue;
    background-color: aliceblue;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3 ease, transform 0.2 ease;
}
button:hover{
    background-color: gold;
    transform: scale(1.05);
}
fieldset{
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 3px solid blue;
    border-radius: 5px;
    padding: 20px;
    background-color: aliceblue;
}
.legenda{
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
.menudenavegacao ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    gap: 50px;
    padding: 0;
    margin: 0;
    font-size: 25px;
    margin-top: 10px;
    color: green;
}
.menudenavegacao a{
    color: green;
    text-decoration: none;
}
.menudenavegacao a:hover{
    background-color: blue;
    border-radius: 5px 5px 5px 5px;
    transform: scale(1.05);
    margin: 3px;
    padding: 3px;
    color: aliceblue;
    border: 2px solid snow;
}
.menudenavegacao a:hover{
    transition: all 0.2s ease-in-out;
}
.menudenavegacao a:hover{
        transform: scale(1.35);
}